{% extends "layout.html.twig" %}
{% block content %}

<form class="form-horizontal" method="post">
 <fieldset class="control-group">
                <legend>Album de BD</legend>

                  {{ form_errors(form) }}
                  {{ form_row(form.album) }
                  {{ form_row(form.auteur) }}
                  {{ form_row(form.editeur) }}
                  {{ form_row(form.parution) }}

    <button type="submit" class="btn btn-info">Send</button>

 </fieldset>
</form>    
{% endblock %}