{% extends "layout.html.twig" %}

{% block content %}
<div class="listebd_crud">
    <h2>Albums de BD (CRUD)</h2>

    <a class="btn btn-success btn-sm" href="{{ path('albumupdate', {'id':0, 'crud':'C'})}}">Créer</a>
    <a class="btn btn-success btn-sm" href="{{ path('listebd-pdf' )}}"><span class="glyphicon glyphicon-download-alt"> PDF</span></a>
    <a class="btn btn-success btn-sm" href="{{ path('listebd-xml' )}}"><span class="glyphicon glyphicon-download-alt"> XML</span></a>
   
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Auteur(s)</th>
            <th>Editeur</th>
            <th>Parution</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>    
    {% for album in listebd %}
      <tr>
	<td>{{album.id}}</td>
	<td>{{album.album|capitalize}}</td>
	<td>{{album.auteur|title}}</td>
	<td>{{album.editeur|title}}</td>
	<td>{{album.parution|date("d/m/Y")}}</td>
        <td>
            <a class="btn btn-default btn-sm" href="{{ path('albumupdate', {'id':album.id, 'crud':'R'})}}">Afficher</a>
            <a class="btn btn-success btn-sm" href="{{ path('albumupdate', {'id':album.id, 'crud':'U'})}}">Modifier</a>
            <a class="btn btn-warning btn-sm" href="{{ path('albumupdate', {'id':album.id, 'crud':'D'})}}">Supprimer</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
